body {
  color: orange;
}
html {
  margin-top: 20px;
}

#chat-content {
  height: 470px;  overflow-y: scroll;
}


.form-container {
  border: solid 2px;
  border-image: linear-gradient(90deg, rgb(224,225,226), rgb(33,186,69)) 1;
  margin-top: 25vh;

}
 .create-join-buttons {
   width: 100%;
   justify-content: center;
 }

#createButton {
  width: 25%;
  margin-left: 25%;
}

#joinButton {
  width: 25%;
  margin-right: 25%;
}

.nerp {
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.no-margin {
  margin: 40px;
}

.left {
  justify-content: left !important;
}

.hidden-camera {
  display: none !important;
}

#localCamera {
  margin-top: 40px;
}

#remote-videos {
  margin-top: 45px;
}
